/* - - - - - RATING */
.rating {
  position: relative;
  text-align: center;
  left: 105px;
  font-size:50px;
  width: 250px;
  height: 50px;
  background: rgb(255, 255, 255);
  display: block;
}

.rating:not(:checked) > input {
  display: none;
}


/* - - - - - RATE */

#rate:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  padding-right: 20px;
  height: 30px;
  display: block;
  
  color: rgba(0, 135, 211, .4);
  line-height: 43px;
  text-align: center;
}

#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
  color: rgba(0, 135, 211, .6);
}
#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
  color: rgba(0, 135, 211, .8);
}
#rate > input:checked ~ label {
  color: rgb(0, 135, 211);
}

/* - - - - - COMMENT */

#comment{
  resize: none;
  margin-top:10px;
  font-size: 18px;
  font-family:"Times New Roman", Times, serif;
  background: #ffffff;
  border:1px solid #d1c7ac;
	width: 400px;
	height: 100px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}
